
{%extends "base.html"%}
{%load static%}
{%block title%} Password Reset Complete{%endblock%}

{%block head%}
<style>
    .form-container{
        margin-top: 2.5em ;
        margin-bottom: 2.5em;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
        background-color: #f5f5f5;
        padding: 3rem;
        border-radius: 1rem;
        text-align: center;
    }
</style>

{%endblock%}

{%block content%}
<div class="container form-container">
    <h2>Password Successfully Reset</h2>
    <p>
        Your password has been updated. <br>You can now use your new password to sign in to your account.
    </p>
    <p>
        <a href="{% url 'login' %}" class="btn btn-primary">Return to Login</a>
    </p>
</div>

{%endblock content%}